<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="onepage-scroll/css/onepage-scroll.css">
  <link rel="stylesheet" href="static/lazy-gift-website.css">
</head>
<body>
<header class="header">
  <div class="nav-title">
    <p class="main-title">LAZY-GIFT</p>
    <p class="sub-title">懒人福音</p>
  </div>
  <div class="nav-link">
    <span id="about" class="link">关于我们</span>
    <span id="apply" class="link">成为博主</span>
    <span id="download">免费下载</span>
  </div>
</header>
<div class="main">
  <section class="page1">第一屏</section>
  <section class="page2">第二屏</section>
  <section class="page3">第三屏</section>
  <section class="page4">
    <div>第四屏</div>
    <footer class="footer">
      <span class="copyright">© 2017 杭州绝佳对封建时代 版权所有</span>
      <span class="">官方微博 <i class="linkto">@LAZY-GIFT</i></span>
      <span>官方微信 <i class="linkto">@LAZY-GIFT</i></span>
      <span>招聘邮箱 <i class="linkto">@LAZY-GIFT</i></span>
      <span>商务合作</span>
    </footer>
  </section>
</div>

<script src="jquery/jquery-1.9.0.min.js"></script>
<script src="onepage-scroll/js/jquery.onepage-scroll.js"></script>
<script>
  $(function(){
    $('.main').onepage_scroll();
  });
</script>
</body>
</html>
