html,body,div,p,h1,h2,h3,h4,h5,ul,li,ol {
  margin: 0;
  padding: 0;
}

html,body {
  width: 100%;
  height: 100%;
  font-family: "Hiragino Sans GB","Hiragino Sans GB W3",simhei,"Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei",Arial,sans-serif;
  font-size: 14px;
}

.page1, .page2, .page3, .page4 {
  background: #fff;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: #fff;
}

.nav-title {
  width: 200px;
  padding: 25px 53px;
  text-align: left;
  float: left;
  cursor: pointer;
}

.main-title {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.sub-title {
  color: #9f9f9f;
  line-height: 20px;
  font-size: 13px;
  letter-spacing: 2px;
}

.nav-link {
  width: 430px;
  float: right;
  margin-right: 10px;
}

.header .nav-link span {
  color: #c0c0c0;
  line-height: 90px;
  margin-right: 62px;
  position: relative;
}

.header .nav-link .link:hover{
  color: rgba(0,92,255,1.0);
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  cursor: pointer;
}

.header .nav-link .link:after {
  content: "";
  height: 2px;
  left: 0;
  top: 20px;
  width: 1px;
  position: absolute;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  right: 0;
  margin: 0 auto;
}

.header .nav-link .link:hover:after,
.header .nav-link .link:focus:after {
  width: 100%;
  background-color: rgba(0,92,255,1.0);
}

.footer {
  width: 100%;
  position: absolute;
  left: 5%;
  bottom: 4%;
}

.copyright {
  margin-right: 6%;
}

.footer span {
  color: #C9C5C5;
  font-size: 15px;
  margin-right: 3%;
}

.linkto {
  color: rgba(0,92,255,0.9);
}
